<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/css/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>

<body>
    <div class="status-bar">
        <div class="status-bar__column">
            <span>No Service</span>
            <i class="fas fa-wifi"></i>
        </div>
        <div class="status-bar__column">
            <span>18:43</span>
        </div>
        <div class="status-bar__column">
            <span>11%</span>
            <i class="fas fa-battery-full"></i>
            <i class="fas fa-bolt"></i>
        </div>
    </div>

    <div id="no-mobile">
        <span>650px이하로 픽셀을 줄여주세요</span>
    </div>

    <header class="welcome-header">
        <h1 class="welcome-header__title">Welcome to kakao Talk</h1>
        <p class="welcome-header__text">
            If you have a kokoa Account,log in with your email or phone number
        </p>
    </header>

    <form action="/api/v1/user/login" method="post" id="login-form">
        <input type="text" placeholder="Email">
        <input type="password" placeholder="password">
        <input type="submit" value="Log in" style="width: 100%;" class="target">
        <a href="/chat/signup">KaKao Account of Signup</a>
    </form>

    <script src="https://kit.fontawesome.com/6478f529f2.js" crossorigin="anonymous"></script>
    <script src="/webjars/axios/0.17.1/dist/axios.min.js"></script>
    <script>
      var vm = new Vue({
        el: '#app',
        data: {
          room_name : '',
          chatrooms: [
          ]
        },
        created() {
          // this.findAllRoom();
        },
        methods: {
          // findAllRoom: function() {
          //   axios.get('/chat/rooms').then(response => { this.chatrooms = response.data; });
          // },

        }
      });
    </script>
</body>

</html>